body {
    background-color: #50664d;
    font-family: 'Quantico', sans-serif;}

#highscore-link {
    cursor: pointer;
}

main {
    margin: 25px;
    padding: 25px;
}

p {
    font-size: large;
}

.splash {
    border: 2px solid #708090;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    background-color: #fffafa;
    display:none;
}

#answer-list {
    list-style: none;
    text-align: center;
    padding-left: 0pt;
}

#answer-list li {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(88, 185, 136, 0.452);
    border-radius: 25px;
    border: 2px solid #50664d;
    margin: 2px;
}

#answer-list li:hover {
    background-color: rgba(88, 185, 136, 0.733);
    cursor: pointer;
}
#score-list {
    list-style-position: inside;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}