body {
    background-color: #50664d;
}

main {
    margin: 25px;
    padding: 25px;

}

p {
    font-size: large;
}

.splash {
    border: 2px solid #708090;
    border-radius: 15%;
    text-align: center;
    padding: 25px;
    background-color: #fffafa;
}

